.Rproj.user
.Rhistory
.RData
.Ruserdata
observer_bsh_catch_1992_2019.csv
observer-enhanced_pseudo_1to1.csv
bsh_observer_enhanced_pseudoabs.rds
bsh_observer_enhanced_clim.rds
bsh_observer_enhanced_seasonal.rds
GLORYS
scrap
FullModel